<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-33>
        Word
      </ion-col>
      <ion-col width-33>
        Start
      </ion-col>
      <ion-col width-33>
        End
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let word of words">
      <ion-col width-33>
        {{word}}
      </ion-col>
      <ion-col width-33>
        {{startString(word)}}
      </ion-col>
      <ion-col width-33>
        {{endString(word)}}
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <button class="new-puzzle-button" block (click)="newPuzzle()">New Puzzle</button>
</ion-footer>
