<ion-content class="content-container" padding>
  <ion-item class="letter-grid">
    <ion-textarea [(ngModel)]="letterGridStr"></ion-textarea>
  </ion-item>
  <button class="add-word-button" block (click)="presentAddWordAlert()">Add Word</button>
  <ion-list class="word-list">
    <ion-item *ngFor="let word of words">
      {{word}}
      <button item-right clear (click)="removeWord(word)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer padding>
  <button class="solve-button" block (click)="solve()">Solve</button>
</ion-footer>
